* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --text-primary: #181818;
  --text-secondary: #000000;
  --background-secondary: #efefef;
  --background-footer: #767676;
  --background-footer-follow-us: #333;
  --bc1: #5f5f5f;
  --bc2: #c7c7c7;
}
.container {
  width: 50%;
  margin: auto;
}

/* Hero Section Start */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.hero header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem 2.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hero .social-network-icons {
  text-align: right;
  font-size: 1rem;
  margin-bottom: 15px;
}
.hero .social-network-icons i {
  margin-left: 10px;
}
.hero header nav a {
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}
.hero header nav a:not(:last-child):not(:first-child)::after {
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 1rem;
  display: inline-block;
  padding-left: 4px;
  font-weight: 900;
}
.hero nav .buy-now {
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 2px;
}
.hero .box {
  background-color: #ffffffd4;
  width: 35%;
  padding: 30px;
  text-align: center;
  border-radius: 1px;
}
.hero .box h2 {
  font-size: 2.5rem;
}
.hero .box p {
  font-size: 1rem;
  color: var(--text-primary);
  padding: 20px 0;
  line-height: 1.8em;
}
.paragraph-footer::after {
  content: "";
  display: block;
  background: var(--text-primary);
  width: 10%;
  margin: auto;
  margin-top: 0.75rem;
  height: 0.11rem;
}

/* 3-columns after hero section */

.advantage-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.advantage-card {
  width: 30%;
  display: flex;
}
.advantage-card i {
  font-size: 2rem;
  padding-right: 0.75em;
}
.advantage-card p {
  padding: 1rem 0;
  line-height: 1.5rem;
  font-size: 0.95rem;
  color: var(--background-footer);
}
.read-more {
  font-size: 0.85rem;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--text-secondary);
}
.read-more::after {
  content: "";
  display: block;
  background: var(--text-primary);
  width: 17%;
  margin-top: 0.75rem;
  height: 1.5px;
}
/* About Us */
.bg-scondary {
  background-color: var(--background-secondary);
}
.About-Us {
  text-align: center;
  padding: 2rem 0;
}
.title-section {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-size: 1.25rem;
}
.title-section::before {
  content: "";
  display: inline-block;
  background: var(--text-primary);
  width: 1.5rem;
  height: 1.5px;
  margin-right: 1rem;
  line-height: 1.5px;
}
.title-section::after {
  content: "";
  display: inline-block;
  background: var(--text-primary);
  width: 1.5rem;
  height: 1.5px;
  margin-left: 1rem;
}
.About-Us-Header p {
  line-height: 2rem;
  font-size: 1rem;
  color: var(--background-footer);
  width: 50%;
  margin: auto;
  padding: 2rem 0;
}
.About-Us-Header h1 {
  margin-top: 1rem;
  font-size: 3.5rem;
}
.About-Us-card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.About-Us-card-list div:nth-child(1) {
  color: var(--white);
  height: 380px;
  width: 32%;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About-Us-card-list div:nth-child(2) {
  color: var(--white);
  height: 380px;
  width: 32%;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About-Us-card-list div:nth-child(3) {
  color: var(--white);
  height: 380px;
  width: 32%;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About-Us-card-list .About-Us-card i {
  font-size: 1.5rem;
}
.About-Us-card-list .About-Us-card h5 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.About-Us-card-list .About-Us-card p {
  font-size: 1rem;
}
.part2 {
  display: flex;
  height: 350px;
  color: var(--white);
}
.part2-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 7rem;
  text-align: right;
  background-color: var(--black);
  position: relative;
}
.part2-left p {
  font-size: 1rem;
  margin: 15px auto;
}

.part2-left a {
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  width: 18%;
  position: absolute;
  bottom: 60px;
  right: 110px;
}
.part2-right {
  width: 50%;
  background-image: url(../images/6.jpg);
  background-position: center;
  background-size: cover;
}
/* Best Deals */
.Best-Deals {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}
.Best-Deals h1 {
  margin: 3.5rem 0;
  font-size: 3.5rem;
}
p.price-box {
  display: flex;
}
.Best-Deals .nav-left {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}
.Best-Deals .nav-left a {
  text-decoration: none;
  color: var(--bc1);
  font-size: 1rem;
}
.Best-Deals .nav-left a.active {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: 1rem;
}
.Best-Deals .nav-left span {
  padding: 0 0.75rem;
}
.gallery {
  display: flex;
  flex-direction: column;
}
.gallery .row1,
.gallery .row2 {
  display: flex;
  margin-bottom: 8rem;
  gap: 1rem;
}
.line::after {
  content: "";
  display: block;
  background: var(--background-secondary);
  width: 40%;
  margin: auto;
  margin-top: 0.5rem;
  height: 0.5px;
}
.gallery .row1 div:nth-child(1) {
  background-image: url(../images/6.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 160px;
}
.gallery .row1 div:nth-child(2) {
  background-image: url(../images/8.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 160px;
}
.gallery .row1 div:nth-child(3) {
  background-image: url(../images/5.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 160px;
}
.gallery .row1 div:nth-child(4) {
  background-image: url(../images/2.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 160px;
}
.gallery .row1 p,
.gallery .row2 p {
  font-size: 1.25rem;
  margin: 0.75rem 0;
}
.gallery .row1 span,
.gallery .row2 span {
  font-size: 1.25rem;
}

.old-price {
  color: var(--background-footer);
  font-size: 0.75rem !important;
}
.gallery .row2 div:nth-child(1) {
  background-image: url(../images/8.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 160px;
}
.gallery .row2 div:nth-child(2) {
  background-image: url(../images/7.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 160px;
}
.gallery .row2 div:nth-child(3) {
  background-image: url(../images/2.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 160px;
}
.gallery .row2 div:nth-child(4) {
  background-image: url(../images/2.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  height: 160px;
} /* 3-picture */
.picture-3 {
  display: flex;
  flex-wrap: wrap;
}
.picture-3 div:nth-child(1) {
  flex: 1;
  padding: 2rem;
  background-image: url("../images/11.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
}
.picture-3 div:nth-child(2) {
  flex: 1;
  padding: 2rem;
  background-image: url("../images/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
}
.picture-3 div:nth-child(3) {
  flex: 1;
  padding: 2rem;
  background-image: url("../images/10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
}
